div.SCContent {
	overflow-x: hidden;
	overflow-y: hidden;
}

div#obj1418 {
position: absolute;
overflow: hidden;
top: 70px;
left: 59px;
width: 62px;
height: 61px;
opacity: 1;
z-index: 5;
display:block;
pointer-events: none;

}
div#obj1518 {
position: absolute;
overflow: hidden;
top: 127px;
left: 112px;
width: 127px;
height: 124px;
opacity: 1;
z-index: 6;
display:block;
pointer-events: auto;
-webkit-transform: rotate(45deg);
-moz-transform: rotate(45deg);
transform: rotate(45deg);

}
div#obj1512 {
position: absolute;
overflow: hidden;
top: 248px;
left: 201px;
width: 94px;
height: 89px;
opacity: 1;
z-index: 7;
display:block;
pointer-events: auto;
-webkit-transform: rotate(45.0626deg);
-moz-transform: rotate(45.0626deg);
transform: rotate(45.0626deg);

}
div#obj1506 {
position: absolute;
overflow: hidden;
top: 175px;
left: 267px;
width: 100px;
height: 89px;
opacity: 1;
z-index: 8;
display:block;
pointer-events: auto;
-webkit-transform: rotate(45.0626deg);
-moz-transform: rotate(45.0626deg);
transform: rotate(45.0626deg);

}
div#obj1502 {
position: absolute;
overflow: hidden;
top: 43px;
left: 328px;
width: 145px;
height: 148px;
opacity: 1;
z-index: 9;
display:block;
pointer-events: auto;
-webkit-transform: rotate(45deg);
-moz-transform: rotate(45deg);
transform: rotate(45deg);

}
div#obj1497 {
position: absolute;
overflow: hidden;
top: 162px;
left: 444px;
width: 79px;
height: 108px;
opacity: 1;
z-index: 10;
display:block;
pointer-events: auto;
-webkit-transform: rotate(45.0626deg);
-moz-transform: rotate(45.0626deg);
transform: rotate(45.0626deg);

}
div#obj1426 {
position: absolute;
overflow: hidden;
top: 586px;
left: 1151px;
width: 206px;
height: 172px;
opacity: 1;
z-index: 11;
display:block;
pointer-events: auto;

}
div#obj1422 {
position: absolute;
overflow: hidden;
top: 586px;
left: 1151px;
width: 206px;
height: 172px;
opacity: 1;
z-index: 12;
display:block;
pointer-events: auto;

}
div#obj1435 {
position: absolute;
overflow: hidden;
top: 374px;
left: 356px;
width: 111px;
height: 110px;
opacity: 1;
z-index: 13;
display:block;
pointer-events: auto;
-webkit-transform: rotate(45deg);
-moz-transform: rotate(45deg);
transform: rotate(45deg);

}
div#obj1452 {
position: absolute;
overflow: hidden;
top: 239px;
left: 510px;
width: 99px;
height: 90px;
opacity: 1;
z-index: 15;
display:block;
pointer-events: auto;
-webkit-transform: rotate(45.0626deg);
-moz-transform: rotate(45.0626deg);
transform: rotate(45.0626deg);

}
div#obj1482 {
position: absolute;
overflow: hidden;
top: 766px;
left: -4px;
width: 100px;
height: 100px;
opacity: 1;
z-index: 23;
display:none;
pointer-events: none;

}
div#obj1526 {
position: absolute;
overflow: hidden;
top: 765px;
left: 133px;
width: 100px;
height: 100px;
opacity: 1;
z-index: 24;
display:none;
pointer-events: none;

}
div#obj1408 {
position: absolute;
overflow: hidden;
top: 0px;
left: -4px;
width: 1370px;
height: 768px;
opacity: 1;
z-index: 0;
display:block;
pointer-events: none;

}
img#obj1408_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1370px;
	height: 768px;
}
div#obj1413 {
position: absolute;
overflow: hidden;
top: 607px;
left: 1111px;
width: 268px;
height: 125px;
opacity: 1;
z-index: 1;
display:none;
pointer-events: none;

}
img#obj1413_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 268px;
	height: 125px;
}
div#obj1563 {
position: absolute;
overflow: hidden;
top: 609px;
left: 1111px;
width: 268px;
height: 125px;
opacity: 1;
z-index: 2;
display:block;
pointer-events: none;

}
img#obj1563_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 268px;
	height: 125px;
}
div#obj1416 {
position: absolute;
overflow: hidden;
top: 593px;
left: 1183px;
width: 120px;
height: 153px;
opacity: 1;
z-index: 3;
display:block;
pointer-events: none;

}
img#obj1416_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 120px;
	height: 153px;
}
div#obj1552 {
position: absolute;
overflow: hidden;
top: 593px;
left: 1183px;
width: 120px;
height: 153px;
opacity: 1;
z-index: 4;
display:none;
pointer-events: none;

}
img#obj1552_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 120px;
	height: 153px;
}
div#obj1465 {
position: absolute;
overflow: hidden;
top: 119px;
left: 210px;
width: 564px;
height: 496px;
opacity: 1;
z-index: 17;
display:none;
pointer-events: auto;

}
img#obj1465_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 564px;
	height: 496px;
}
div#obj1468 {
position: absolute;
overflow: hidden;
top: 167px;
left: 197px;
width: 497px;
height: 525px;
opacity: 1;
z-index: 18;
display:none;
pointer-events: auto;

}
img#obj1468_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 497px;
	height: 525px;
}
div#obj1561 {
position: absolute;
overflow: hidden;
top: 317px;
left: 585px;
width: 614px;
height: 410px;
opacity: 1;
z-index: 19;
display:none;
pointer-events: none;

}
img#obj1561_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 614px;
	height: 410px;
}
div#obj1475 {
position: absolute;
overflow: hidden;
top: 423px;
left: 594px;
width: 497px;
height: 304px;
opacity: 1;
z-index: 20;
display:none;
pointer-events: none;

}
img#obj1475_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 497px;
	height: 304px;
}
div#obj1562 {
position: absolute;
overflow: hidden;
top: 100px;
left: 591px;
width: 497px;
height: 304px;
opacity: 1;
z-index: 21;
display:none;
pointer-events: none;

}
img#obj1562_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 497px;
	height: 304px;
}
div#obj1479 {
position: absolute;
overflow: hidden;
top: 118px;
left: 580px;
width: 381px;
height: 218px;
opacity: 1;
z-index: 22;
display:none;
pointer-events: none;

}
img#obj1479_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 381px;
	height: 218px;
}

div#obj1582 {
position: absolute;
overflow: hidden;
top: 139px;
left: 362px;
width: 642px;
height: 422px;
opacity: 1;
z-index: 25;
display:block;
pointer-events: auto;

background-color: #FFFFFF;
border-color: #000000;
border-width: 2px;
border-style: solid;
border-radius: 25px;
-webkit-border-radius: 25px;
-moz-border-radius: 25px;
box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.6078431);
-webkit-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.6078431);
-moz-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.6078431);
font-family: "Andika-New-Basic-700";
font-size: 50px;
text-align: center;
}
div#obj1582_content {
}



div#obj1440 {
position: absolute;
overflow: hidden;
top: 376px;
left: 357px;
width: 109px;
height: 101px;
opacity: 1;
z-index: 14;
display:none;
pointer-events: auto;
-webkit-transform: rotate(44.78923deg);
-moz-transform: rotate(44.78923deg);
transform: rotate(44.78923deg);
box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.6078431);
-webkit-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.6078431);
-moz-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.6078431);
background-image: none;
border-color: #FFD300;
border-width: 7px;
border-style: solid;
border-radius: 0px;
-moz-border-radius: 0px;
-webkit-border-radius: 0px;
background-color: rgba(255,255,255,0);
background-repeat: repeat;
}
div#obj1458 {
position: absolute;
overflow: hidden;
top: 165px;
left: 430px;
width: 105px;
height: 105px;
opacity: 1;
z-index: 16;
display:none;
pointer-events: auto;
-webkit-transform: rotate(44.78923deg);
-moz-transform: rotate(44.78923deg);
transform: rotate(44.78923deg);
box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.6078431);
-webkit-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.6078431);
-moz-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.6078431);
background-image: none;
border-color: #FFD300;
border-width: 7px;
border-style: solid;
border-radius: 0px;
-moz-border-radius: 0px;
-webkit-border-radius: 0px;
background-color: rgba(255,255,255,0);
background-repeat: repeat;
}








body {
font-family: Lato, Arial, Helvetica, Sans-Serif;
font-size: 20px;
line-height: 1.2;
color: #000000
}
:link { color: #0A52A2; }
:visited { color: #5B2599; }
/* Start of default CSS Styles */
p, h1, h2, h3, h4, h5, h6 {
    margin: 0px;
    padding: 0px;
}
h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.17em; }
h4 { font-size: 1.12em; }
h5 { font-size: .83em; }
h6 { font-size: .67em; }
/* End of default CSS Styles */
.SCPage {
background-color: #FFFFFF
}
