div.SCContent {
	overflow-x: hidden;
	overflow-y: hidden;
}

div#obj330 {
position: absolute;
overflow: hidden;
top: 73px;
left: 60px;
width: 63px;
height: 63px;
opacity: 1;
z-index: 1;
display:block;
pointer-events: none;

}
div#obj1234 {
position: absolute;
overflow: hidden;
top: 555px;
left: 1108px;
width: 238px;
height: 201px;
opacity: 1;
z-index: 2;
display:block;
pointer-events: auto;

}
div#obj969 {
position: absolute;
overflow: hidden;
top: 127px;
left: 112px;
width: 127px;
height: 124px;
opacity: 1;
z-index: 3;
display:block;
pointer-events: auto;
-webkit-transform: rotate(45deg);
-moz-transform: rotate(45deg);
transform: rotate(45deg);

}
div#obj285 {
position: absolute;
overflow: hidden;
top: 128px;
left: 106px;
width: 135px;
height: 137px;
opacity: 1;
z-index: 4;
display:block;
pointer-events: auto;
-webkit-transform: rotate(45deg);
-moz-transform: rotate(45deg);
transform: rotate(45deg);

}
div#obj1029 {
position: absolute;
overflow: hidden;
top: 456px;
left: 919px;
width: 404px;
height: 192px;
opacity: 1;
z-index: 6;
display:none;
pointer-events: auto;

}
div#obj1025 {
position: absolute;
overflow: hidden;
top: 810px;
left: 0px;
width: 100px;
height: 100px;
opacity: 1;
z-index: 7;
display:none;
pointer-events: none;

}
div#obj1021 {
position: absolute;
overflow: hidden;
top: 809px;
left: 124px;
width: 100px;
height: 100px;
opacity: 1;
z-index: 8;
display:none;
pointer-events: none;

}
div#obj973 {
position: absolute;
overflow: hidden;
top: 248px;
left: 201px;
width: 94px;
height: 89px;
opacity: 1;
z-index: 9;
display:block;
pointer-events: auto;
-webkit-transform: rotate(45.0626deg);
-moz-transform: rotate(45.0626deg);
transform: rotate(45.0626deg);

}
div#obj396 {
position: absolute;
overflow: hidden;
top: 248px;
left: 201px;
width: 94px;
height: 89px;
opacity: 1;
z-index: 10;
display:block;
pointer-events: auto;
-webkit-transform: rotate(45.0626deg);
-moz-transform: rotate(45.0626deg);
transform: rotate(45.0626deg);

}
div#obj1042 {
position: absolute;
overflow: hidden;
top: 454px;
left: 876px;
width: 404px;
height: 192px;
opacity: 1;
z-index: 12;
display:none;
pointer-events: auto;

}
div#obj1038 {
position: absolute;
overflow: hidden;
top: 810px;
left: 0px;
width: 100px;
height: 100px;
opacity: 1;
z-index: 13;
display:none;
pointer-events: none;

}
div#obj1034 {
position: absolute;
overflow: hidden;
top: 809px;
left: 124px;
width: 100px;
height: 100px;
opacity: 1;
z-index: 14;
display:none;
pointer-events: none;

}
div#obj803 {
position: absolute;
overflow: hidden;
top: 175px;
left: 273px;
width: 100px;
height: 89px;
opacity: 1;
z-index: 15;
display:block;
pointer-events: auto;
-webkit-transform: rotate(45.0626deg);
-moz-transform: rotate(45.0626deg);
transform: rotate(45.0626deg);

}
div#obj432 {
position: absolute;
overflow: hidden;
top: 175px;
left: 273px;
width: 100px;
height: 89px;
opacity: 1;
z-index: 16;
display:block;
pointer-events: auto;
-webkit-transform: rotate(45.0626deg);
-moz-transform: rotate(45.0626deg);
transform: rotate(45.0626deg);

}
div#obj979 {
position: absolute;
overflow: hidden;
top: 43px;
left: 328px;
width: 145px;
height: 148px;
opacity: 1;
z-index: 17;
display:block;
pointer-events: auto;
-webkit-transform: rotate(45deg);
-moz-transform: rotate(45deg);
transform: rotate(45deg);

}
div#obj287 {
position: absolute;
overflow: hidden;
top: 43px;
left: 328px;
width: 145px;
height: 148px;
opacity: 1;
z-index: 18;
display:block;
pointer-events: auto;
-webkit-transform: rotate(45deg);
-moz-transform: rotate(45deg);
transform: rotate(45deg);

}
div#obj1055 {
position: absolute;
overflow: hidden;
top: 346px;
left: 77px;
width: 404px;
height: 192px;
opacity: 1;
z-index: 20;
display:none;
pointer-events: auto;

}
div#obj1051 {
position: absolute;
overflow: hidden;
top: 810px;
left: 0px;
width: 100px;
height: 100px;
opacity: 1;
z-index: 21;
display:none;
pointer-events: none;

}
div#obj1047 {
position: absolute;
overflow: hidden;
top: 809px;
left: 124px;
width: 100px;
height: 100px;
opacity: 1;
z-index: 22;
display:none;
pointer-events: none;

}
div#obj392 {
position: absolute;
overflow: hidden;
top: 162px;
left: 444px;
width: 79px;
height: 108px;
opacity: 1;
z-index: 23;
display:block;
pointer-events: auto;
-webkit-transform: rotate(45.0626deg);
-moz-transform: rotate(45.0626deg);
transform: rotate(45.0626deg);

}
div#obj809 {
position: absolute;
overflow: hidden;
top: 239px;
left: 510px;
width: 99px;
height: 90px;
opacity: 1;
z-index: 24;
display:block;
pointer-events: auto;
-webkit-transform: rotate(45.0626deg);
-moz-transform: rotate(45.0626deg);
transform: rotate(45.0626deg);

}
div#obj416 {
position: absolute;
overflow: hidden;
top: 239px;
left: 510px;
width: 99px;
height: 90px;
opacity: 1;
z-index: 25;
display:block;
pointer-events: auto;
-webkit-transform: rotate(45.0626deg);
-moz-transform: rotate(45.0626deg);
transform: rotate(45.0626deg);

}
div#obj316 {
position: absolute;
overflow: hidden;
top: 310px;
left: 435px;
width: 101px;
height: 90px;
opacity: 1;
z-index: 26;
display:block;
pointer-events: auto;
-webkit-transform: rotate(45.0626deg);
-moz-transform: rotate(45.0626deg);
transform: rotate(45.0626deg);

}
div#obj381 {
position: absolute;
overflow: hidden;
top: 313px;
left: 435px;
width: 91px;
height: 86px;
opacity: 1;
z-index: 27;
display:block;
pointer-events: auto;
-webkit-transform: rotate(44.48384deg);
-moz-transform: rotate(44.48384deg);
transform: rotate(44.48384deg);

}
div#obj983 {
position: absolute;
overflow: hidden;
top: 382px;
left: 363px;
width: 101px;
height: 87px;
opacity: 1;
z-index: 28;
display:none;
pointer-events: auto;
-webkit-transform: rotate(45.0626deg);
-moz-transform: rotate(45.0626deg);
transform: rotate(45.0626deg);

}
div#obj306 {
position: absolute;
overflow: hidden;
top: 382px;
left: 363px;
width: 101px;
height: 87px;
opacity: 1;
z-index: 29;
display:block;
pointer-events: auto;
-webkit-transform: rotate(45.0626deg);
-moz-transform: rotate(45.0626deg);
transform: rotate(45.0626deg);

}
div#obj1068 {
position: absolute;
overflow: hidden;
top: 443px;
left: 862px;
width: 404px;
height: 192px;
opacity: 1;
z-index: 31;
display:none;
pointer-events: auto;

}
div#obj1064 {
position: absolute;
overflow: hidden;
top: 810px;
left: 0px;
width: 100px;
height: 100px;
opacity: 1;
z-index: 32;
display:none;
pointer-events: none;

}
div#obj1060 {
position: absolute;
overflow: hidden;
top: 809px;
left: 124px;
width: 100px;
height: 100px;
opacity: 1;
z-index: 33;
display:none;
pointer-events: none;

}
div#obj989 {
position: absolute;
overflow: hidden;
top: 485px;
left: 231px;
width: 220px;
height: 215px;
opacity: 1;
z-index: 34;
display:block;
pointer-events: auto;
-webkit-transform: rotate(45deg);
-moz-transform: rotate(45deg);
transform: rotate(45deg);

}
div#obj289 {
position: absolute;
overflow: hidden;
top: 485px;
left: 231px;
width: 220px;
height: 215px;
opacity: 1;
z-index: 35;
display:block;
pointer-events: auto;
-webkit-transform: rotate(45deg);
-moz-transform: rotate(45deg);
transform: rotate(45deg);

}
div#obj1081 {
position: absolute;
overflow: hidden;
top: 114px;
left: 90px;
width: 404px;
height: 192px;
opacity: 1;
z-index: 37;
display:none;
pointer-events: auto;

}
div#obj1077 {
position: absolute;
overflow: hidden;
top: 810px;
left: 0px;
width: 100px;
height: 100px;
opacity: 1;
z-index: 38;
display:none;
pointer-events: none;

}
div#obj1073 {
position: absolute;
overflow: hidden;
top: 809px;
left: 124px;
width: 100px;
height: 100px;
opacity: 1;
z-index: 39;
display:none;
pointer-events: none;

}
div#obj408 {
position: absolute;
overflow: hidden;
top: 639px;
left: 441px;
width: 88px;
height: 88px;
opacity: 1;
z-index: 40;
display:block;
pointer-events: auto;
-webkit-transform: rotate(45.0626deg);
-moz-transform: rotate(45.0626deg);
transform: rotate(45.0626deg);

}
div#obj412 {
position: absolute;
overflow: hidden;
top: 638px;
left: 573px;
width: 104px;
height: 90px;
opacity: 1;
z-index: 42;
display:block;
pointer-events: auto;
-webkit-transform: rotate(45.0626deg);
-moz-transform: rotate(45.0626deg);
transform: rotate(45.0626deg);

}
div#obj815 {
position: absolute;
overflow: hidden;
top: 635px;
left: 720px;
width: 96px;
height: 97px;
opacity: 1;
z-index: 43;
display:block;
pointer-events: auto;
-webkit-transform: rotate(45.0626deg);
-moz-transform: rotate(45.0626deg);
transform: rotate(45.0626deg);

}
div#obj400 {
position: absolute;
overflow: hidden;
top: 635px;
left: 720px;
width: 96px;
height: 97px;
opacity: 1;
z-index: 44;
display:block;
pointer-events: auto;
-webkit-transform: rotate(45.0626deg);
-moz-transform: rotate(45.0626deg);
transform: rotate(45.0626deg);

}
div#obj993 {
position: absolute;
overflow: hidden;
top: 559px;
left: 785px;
width: 98px;
height: 92px;
opacity: 1;
z-index: 45;
display:block;
pointer-events: auto;
-webkit-transform: rotate(45.0626deg);
-moz-transform: rotate(45.0626deg);
transform: rotate(45.0626deg);

}
div#obj420 {
position: absolute;
overflow: hidden;
top: 559px;
left: 785px;
width: 98px;
height: 92px;
opacity: 1;
z-index: 46;
display:block;
pointer-events: auto;
-webkit-transform: rotate(45.0626deg);
-moz-transform: rotate(45.0626deg);
transform: rotate(45.0626deg);

}
div#obj1094 {
position: absolute;
overflow: hidden;
top: 534px;
left: 884px;
width: 404px;
height: 192px;
opacity: 1;
z-index: 48;
display:none;
pointer-events: auto;

}
div#obj1090 {
position: absolute;
overflow: hidden;
top: 810px;
left: 0px;
width: 100px;
height: 100px;
opacity: 1;
z-index: 49;
display:none;
pointer-events: none;

}
div#obj1086 {
position: absolute;
overflow: hidden;
top: 809px;
left: 124px;
width: 100px;
height: 100px;
opacity: 1;
z-index: 50;
display:none;
pointer-events: none;

}
div#obj424 {
position: absolute;
overflow: hidden;
top: 491px;
left: 857px;
width: 97px;
height: 89px;
opacity: 1;
z-index: 51;
display:block;
pointer-events: auto;
-webkit-transform: rotate(45.0626deg);
-moz-transform: rotate(45.0626deg);
transform: rotate(45.0626deg);

}
div#obj999 {
position: absolute;
overflow: hidden;
top: 419px;
left: 932px;
width: 99px;
height: 96px;
opacity: 1;
z-index: 52;
display:block;
pointer-events: auto;
-webkit-transform: rotate(45.0626deg);
-moz-transform: rotate(45.0626deg);
transform: rotate(45.0626deg);

}
div#obj436 {
position: absolute;
overflow: hidden;
top: 419px;
left: 932px;
width: 99px;
height: 96px;
opacity: 1;
z-index: 53;
display:block;
pointer-events: auto;
-webkit-transform: rotate(45.0626deg);
-moz-transform: rotate(45.0626deg);
transform: rotate(45.0626deg);

}
div#obj1107 {
position: absolute;
overflow: hidden;
top: 350px;
left: 106px;
width: 404px;
height: 192px;
opacity: 1;
z-index: 55;
display:none;
pointer-events: auto;

}
div#obj1103 {
position: absolute;
overflow: hidden;
top: 810px;
left: 0px;
width: 100px;
height: 100px;
opacity: 1;
z-index: 56;
display:none;
pointer-events: none;

}
div#obj1099 {
position: absolute;
overflow: hidden;
top: 809px;
left: 124px;
width: 100px;
height: 100px;
opacity: 1;
z-index: 57;
display:none;
pointer-events: none;

}
div#obj500 {
position: absolute;
overflow: hidden;
top: 345px;
left: 863px;
width: 87px;
height: 106px;
opacity: 1;
z-index: 58;
display:block;
pointer-events: auto;
-webkit-transform: rotate(45.0626deg);
-moz-transform: rotate(45.0626deg);
transform: rotate(45.0626deg);

}
div#obj456 {
position: absolute;
overflow: hidden;
top: 345px;
left: 863px;
width: 87px;
height: 106px;
opacity: 1;
z-index: 59;
display:block;
pointer-events: auto;
-webkit-transform: rotate(45.0626deg);
-moz-transform: rotate(45.0626deg);
transform: rotate(45.0626deg);

}
div#obj1005 {
position: absolute;
overflow: hidden;
top: 244px;
left: 758px;
width: 128px;
height: 135px;
opacity: 1;
z-index: 60;
display:block;
pointer-events: auto;
-webkit-transform: rotate(45deg);
-moz-transform: rotate(45deg);
transform: rotate(45deg);

}
div#obj294 {
position: absolute;
overflow: hidden;
top: 244px;
left: 758px;
width: 128px;
height: 135px;
opacity: 1;
z-index: 61;
display:block;
pointer-events: auto;
-webkit-transform: rotate(45deg);
-moz-transform: rotate(45deg);
transform: rotate(45deg);

}
div#obj1120 {
position: absolute;
overflow: hidden;
top: 288px;
left: 30px;
width: 404px;
height: 192px;
opacity: 1;
z-index: 63;
display:none;
pointer-events: auto;

}
div#obj1116 {
position: absolute;
overflow: hidden;
top: 810px;
left: 0px;
width: 100px;
height: 100px;
opacity: 1;
z-index: 64;
display:none;
pointer-events: none;

}
div#obj1112 {
position: absolute;
overflow: hidden;
top: 809px;
left: 124px;
width: 100px;
height: 100px;
opacity: 1;
z-index: 65;
display:none;
pointer-events: none;

}
div#obj1009 {
position: absolute;
overflow: hidden;
top: 175px;
left: 700px;
width: 84px;
height: 103px;
opacity: 1;
z-index: 66;
display:block;
pointer-events: auto;
-webkit-transform: rotate(45.0626deg);
-moz-transform: rotate(45.0626deg);
transform: rotate(45.0626deg);

}
div#obj452 {
position: absolute;
overflow: hidden;
top: 175px;
left: 700px;
width: 84px;
height: 103px;
opacity: 1;
z-index: 67;
display:block;
pointer-events: auto;
-webkit-transform: rotate(45.0626deg);
-moz-transform: rotate(45.0626deg);
transform: rotate(45.0626deg);

}
div#obj1133 {
position: absolute;
overflow: hidden;
top: 374px;
left: 18px;
width: 404px;
height: 192px;
opacity: 1;
z-index: 69;
display:none;
pointer-events: auto;

}
div#obj1129 {
position: absolute;
overflow: hidden;
top: 896px;
left: -12px;
width: 100px;
height: 100px;
opacity: 1;
z-index: 70;
display:none;
pointer-events: none;

}
div#obj1125 {
position: absolute;
overflow: hidden;
top: 895px;
left: 112px;
width: 100px;
height: 100px;
opacity: 1;
z-index: 71;
display:none;
pointer-events: none;

}
div#obj440 {
position: absolute;
overflow: hidden;
top: 33px;
left: 691px;
width: 99px;
height: 95px;
opacity: 1;
z-index: 72;
display:block;
pointer-events: auto;
-webkit-transform: rotate(45.0626deg);
-moz-transform: rotate(45.0626deg);
transform: rotate(45.0626deg);

}
div#obj821 {
position: absolute;
overflow: hidden;
top: 113px;
left: 624px;
width: 97px;
height: 89px;
opacity: 1;
z-index: 73;
display:block;
pointer-events: auto;
-webkit-transform: rotate(45.0626deg);
-moz-transform: rotate(45.0626deg);
transform: rotate(45.0626deg);

}
div#obj444 {
position: absolute;
overflow: hidden;
top: 113px;
left: 624px;
width: 97px;
height: 89px;
opacity: 1;
z-index: 74;
display:block;
pointer-events: auto;
-webkit-transform: rotate(45.0626deg);
-moz-transform: rotate(45.0626deg);
transform: rotate(45.0626deg);

}
div#obj1015 {
position: absolute;
overflow: hidden;
top: 38px;
left: 831px;
width: 97px;
height: 89px;
opacity: 1;
z-index: 75;
display:block;
pointer-events: auto;
-webkit-transform: rotate(45.0626deg);
-moz-transform: rotate(45.0626deg);
transform: rotate(45.0626deg);

}
div#obj448 {
position: absolute;
overflow: hidden;
top: 38px;
left: 831px;
width: 97px;
height: 89px;
opacity: 1;
z-index: 76;
display:block;
pointer-events: auto;
-webkit-transform: rotate(45.0626deg);
-moz-transform: rotate(45.0626deg);
transform: rotate(45.0626deg);

}
div#obj1146 {
position: absolute;
overflow: hidden;
top: 357px;
left: 59px;
width: 404px;
height: 192px;
opacity: 1;
z-index: 78;
display:none;
pointer-events: auto;

}
div#obj1142 {
position: absolute;
overflow: hidden;
top: 879px;
left: 29px;
width: 100px;
height: 100px;
opacity: 1;
z-index: 79;
display:none;
pointer-events: none;

}
div#obj1138 {
position: absolute;
overflow: hidden;
top: 878px;
left: 153px;
width: 100px;
height: 100px;
opacity: 1;
z-index: 80;
display:none;
pointer-events: none;

}
div#obj296 {
position: absolute;
overflow: hidden;
top: 50px;
left: 903px;
width: 312px;
height: 306px;
opacity: 1;
z-index: 81;
display:block;
pointer-events: auto;
-webkit-transform: rotate(45deg);
-moz-transform: rotate(45deg);
transform: rotate(45deg);

}
div#obj952 {
position: absolute;
overflow: hidden;
top: 556px;
left: 810px;
width: 486px;
height: 140px;
opacity: 1;
z-index: 83;
display:none;
pointer-events: auto;

}
div#obj949 {
position: absolute;
overflow: hidden;
top: 223px;
left: 810px;
width: 486px;
height: 329px;
opacity: 1;
z-index: 84;
display:none;
pointer-events: auto;

}
div#obj944 {
position: absolute;
overflow: hidden;
top: 811px;
left: 35px;
width: 100px;
height: 100px;
opacity: 1;
z-index: 85;
display:none;
pointer-events: none;

}
div#obj938 {
position: absolute;
overflow: hidden;
top: 810px;
left: 194px;
width: 100px;
height: 100px;
opacity: 1;
z-index: 86;
display:none;
pointer-events: none;

}
div#obj933 {
position: absolute;
overflow: hidden;
top: 529px;
left: 16px;
width: 494px;
height: 192px;
opacity: 1;
z-index: 88;
display:none;
pointer-events: auto;

}
div#obj928 {
position: absolute;
overflow: hidden;
top: 529px;
left: 192px;
width: 137px;
height: 192px;
opacity: 1;
z-index: 89;
display:none;
pointer-events: auto;

}
div#obj923 {
position: absolute;
overflow: hidden;
top: 811px;
left: 35px;
width: 100px;
height: 100px;
opacity: 1;
z-index: 90;
display:none;
pointer-events: none;

}
div#obj917 {
position: absolute;
overflow: hidden;
top: 810px;
left: 194px;
width: 100px;
height: 100px;
opacity: 1;
z-index: 91;
display:none;
pointer-events: none;

}
div#obj910 {
position: absolute;
overflow: hidden;
top: 559px;
left: 20px;
width: 532px;
height: 192px;
opacity: 1;
z-index: 93;
display:none;
pointer-events: auto;

}
div#obj907 {
position: absolute;
overflow: hidden;
top: 217px;
left: 30px;
width: 514px;
height: 334px;
opacity: 1;
z-index: 94;
display:none;
pointer-events: auto;

}
div#obj902 {
position: absolute;
overflow: hidden;
top: 811px;
left: 35px;
width: 100px;
height: 100px;
opacity: 1;
z-index: 95;
display:none;
pointer-events: none;

}
div#obj896 {
position: absolute;
overflow: hidden;
top: 810px;
left: 194px;
width: 100px;
height: 100px;
opacity: 1;
z-index: 96;
display:none;
pointer-events: none;

}
div#obj891 {
position: absolute;
overflow: hidden;
top: 474px;
left: 633px;
width: 665px;
height: 231px;
opacity: 1;
z-index: 98;
display:none;
pointer-events: auto;

}
div#obj886 {
position: absolute;
overflow: hidden;
top: 222px;
left: 626px;
width: 665px;
height: 231px;
opacity: 1;
z-index: 99;
display:none;
pointer-events: auto;

}
div#obj881 {
position: absolute;
overflow: hidden;
top: 811px;
left: 35px;
width: 100px;
height: 100px;
opacity: 1;
z-index: 100;
display:none;
pointer-events: none;

}
div#obj875 {
position: absolute;
overflow: hidden;
top: 810px;
left: 194px;
width: 100px;
height: 100px;
opacity: 1;
z-index: 101;
display:none;
pointer-events: none;

}
div#obj870 {
position: absolute;
overflow: hidden;
top: 35px;
left: 34px;
width: 436px;
height: 435px;
opacity: 1;
z-index: 103;
display:none;
pointer-events: auto;

}
div#obj866 {
position: absolute;
overflow: hidden;
top: 249px;
left: 133px;
width: 240px;
height: 43px;
opacity: 1;
z-index: 104;
display:none;
pointer-events: auto;

}
div#obj862 {
position: absolute;
overflow: hidden;
top: 164px;
left: 378px;
width: 46px;
height: 255px;
opacity: 1;
z-index: 105;
display:none;
pointer-events: auto;

}
div#obj852 {
position: absolute;
overflow: hidden;
top: 784px;
left: 29px;
width: 100px;
height: 100px;
opacity: 1;
z-index: 108;
display:none;
pointer-events: none;

}
div#obj846 {
position: absolute;
overflow: hidden;
top: 784px;
left: 203px;
width: 100px;
height: 100px;
opacity: 1;
z-index: 109;
display:none;
pointer-events: none;

}
div#obj837 {
position: absolute;
overflow: hidden;
top: 784px;
left: 328px;
width: 100px;
height: 100px;
opacity: 1;
z-index: 110;
display:none;
pointer-events: none;

}
div#obj1620 {
position: absolute;
overflow: hidden;
top: -32px;
left: 1202px;
width: 256px;
height: 151px;
opacity: 1;
z-index: 113;
display:block;
pointer-events: auto;

}
div#obj283 {
position: absolute;
overflow: hidden;
top: 0px;
left: -2px;
width: 1370px;
height: 768px;
opacity: 1;
z-index: 0;
display:block;
pointer-events: none;

}
img#obj283_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1370px;
	height: 768px;
}
div#obj1032 {
position: absolute;
overflow: hidden;
top: -9px;
left: -11px;
width: 1383px;
height: 782px;
opacity: 1;
z-index: 5;
display:none;
pointer-events: none;

}
img#obj1032_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1383px;
	height: 782px;
}
div#obj1045 {
position: absolute;
overflow: hidden;
top: -9px;
left: -4px;
width: 1375px;
height: 777px;
opacity: 1;
z-index: 11;
display:none;
pointer-events: none;

}
img#obj1045_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1375px;
	height: 777px;
}
div#obj1058 {
position: absolute;
overflow: hidden;
top: -8px;
left: -11px;
width: 1382px;
height: 783px;
opacity: 1;
z-index: 19;
display:none;
pointer-events: none;

}
img#obj1058_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1382px;
	height: 783px;
}
div#obj1071 {
position: absolute;
overflow: hidden;
top: -9px;
left: -9px;
width: 1375px;
height: 765px;
opacity: 1;
z-index: 30;
display:none;
pointer-events: none;

}
img#obj1071_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1375px;
	height: 765px;
}
div#obj1084 {
position: absolute;
overflow: hidden;
top: -9px;
left: -11px;
width: 1388px;
height: 777px;
opacity: 1;
z-index: 36;
display:none;
pointer-events: none;

}
img#obj1084_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1388px;
	height: 777px;
}
div#obj1097 {
position: absolute;
overflow: hidden;
top: -8px;
left: -10px;
width: 1384px;
height: 785px;
opacity: 1;
z-index: 47;
display:none;
pointer-events: none;

}
img#obj1097_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1384px;
	height: 785px;
}
div#obj1110 {
position: absolute;
overflow: hidden;
top: -9px;
left: -11px;
width: 1386px;
height: 791px;
opacity: 1;
z-index: 54;
display:none;
pointer-events: none;

}
img#obj1110_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1386px;
	height: 791px;
}
div#obj1123 {
position: absolute;
overflow: hidden;
top: -9px;
left: -11px;
width: 1387px;
height: 777px;
opacity: 1;
z-index: 62;
display:none;
pointer-events: none;

}
img#obj1123_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1387px;
	height: 777px;
}
div#obj1136 {
position: absolute;
overflow: hidden;
top: -9px;
left: -11px;
width: 1382px;
height: 787px;
opacity: 1;
z-index: 68;
display:none;
pointer-events: none;

}
img#obj1136_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1382px;
	height: 787px;
}
div#obj1149 {
position: absolute;
overflow: hidden;
top: -9px;
left: -11px;
width: 1388px;
height: 791px;
opacity: 1;
z-index: 77;
display:none;
pointer-events: none;

}
img#obj1149_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1388px;
	height: 791px;
}
div#obj957 {
position: absolute;
overflow: hidden;
top: -4px;
left: -6px;
width: 1375px;
height: 776px;
opacity: 1;
z-index: 82;
display:none;
pointer-events: none;

}
img#obj957_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1375px;
	height: 776px;
}
div#obj936 {
position: absolute;
overflow: hidden;
top: -4px;
left: -6px;
width: 1375px;
height: 776px;
opacity: 1;
z-index: 87;
display:none;
pointer-events: none;

}
img#obj936_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1375px;
	height: 776px;
}
div#obj915 {
position: absolute;
overflow: hidden;
top: -4px;
left: -5px;
width: 1375px;
height: 776px;
opacity: 1;
z-index: 92;
display:none;
pointer-events: none;

}
img#obj915_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1375px;
	height: 776px;
}
div#obj894 {
position: absolute;
overflow: hidden;
top: -4px;
left: -6px;
width: 1375px;
height: 776px;
opacity: 1;
z-index: 97;
display:none;
pointer-events: none;

}
img#obj894_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1375px;
	height: 776px;
}
div#obj873 {
position: absolute;
overflow: hidden;
top: -4px;
left: -6px;
width: 1375px;
height: 776px;
opacity: 1;
z-index: 102;
display:none;
pointer-events: none;

}
img#obj873_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1375px;
	height: 776px;
}
div#obj832 {
position: absolute;
overflow: hidden;
top: 321px;
left: 499px;
width: 352px;
height: 125px;
opacity: 1;
z-index: 111;
display:none;
pointer-events: none;

}
img#obj832_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 352px;
	height: 125px;
}
div#obj827 {
position: absolute;
overflow: hidden;
top: 321px;
left: 499px;
width: 352px;
height: 125px;
opacity: 1;
z-index: 112;
display:none;
pointer-events: none;

}
img#obj827_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 352px;
	height: 125px;
}
div#obj1673 {
position: absolute;
overflow: hidden;
top: 559px;
left: 1108px;
width: 256px;
height: 207px;
opacity: 1;
z-index: 115;
display:block;
pointer-events: none;

}
img#obj1673_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 256px;
	height: 207px;
}
div#obj1595 {
position: absolute;
overflow: hidden;
top: -46px;
left: -39px;
width: 1338px;
height: 848px;
opacity: 1;
z-index: 116;
display:block;
pointer-events: auto;

}
img#obj1595_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1338px;
	height: 848px;
}

div#obj860 {
position: absolute;
overflow: hidden;
top: 666px;
left: 109px;
width: 158px;
height: 54px;
opacity: 1;
z-index: 106;
display:none;
pointer-events: auto;
user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
cursor: default;
font-family: "Andika-New-Basic-700";
font-size: 40px;
text-align: center;
}
div#obj860_content {
letter-spacing: 4px;
}
div#obj858 {
position: absolute;
overflow: hidden;
top: 664px;
left: 675px;
width: 146px;
height: 57px;
opacity: 1;
z-index: 107;
display:none;
pointer-events: auto;
user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
cursor: default;
font-family: "Andika-New-Basic-700";
font-size: 40px;
text-align: center;
}
div#obj858_content {
letter-spacing: 5px;
}
button#obj310 {
	position: absolute;
overflow: hidden;
top: 628px;
left: 575px;
width: 101px;
height: 108px;
opacity: 0;
z-index: 41;
display:none;
pointer-events: auto;
-webkit-transform: rotate(45deg);
-moz-transform: rotate(45deg);
transform: rotate(45deg);

	border-color: #BFBFBF;
	border-width: 1px;
	border-style: solid;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background-color: #FFFFFF;
	font-family:inherit;
	font-size: 17px;
	color: #000000; 
}
button#obj310:active { -webkit-box-shadow: inset 2px 2px 7px rgba(0, 0, 0, 0.125); }











body {
font-family: Lato, Arial, Helvetica, Sans-Serif;
font-size: 20px;
line-height: 1.2;
color: #000000
}
:link { color: #0A52A2; }
:visited { color: #5B2599; }
/* Start of default CSS Styles */
p, h1, h2, h3, h4, h5, h6 {
    margin: 0px;
    padding: 0px;
}
h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.17em; }
h4 { font-size: 1.12em; }
h5 { font-size: .83em; }
h6 { font-size: .67em; }
/* End of default CSS Styles */
.SCPage {
background-color: #FFFFFF
}
